@use "../../../../assets/styles/" as *;

.Testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
  position: relative;
  overflow: hidden;

  h4 {
    color: var(--md-sys-color-on-primary-0, #fff);
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -1.08px;
    margin-bottom: 16px;
  }

  p {
    color: var(--md-sys-color-primary-0-container, #e1edff);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.36px;
    margin-bottom: 32px;
    z-index: 10;
  }

  img {
    width: 540px;
    height: auto;
    margin-bottom: 88px;
    z-index: 10;

    @include md() {
      width: 360px;
      height: auto;
    }
    @include sm() {
      width: 80%;
      height: auto;
      margin-bottom: 40px;
    }
  }

  .button_container {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    z-index: 20;

    .button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 36px;
        height: auto;

        @include sm() {
          width: 28px;
          height: auto;
        }
      }
    }
  }
}
