// Page Colors
$brand_color_light: #f5f7ff;
$brand_color_light_duplicate: #f6edff;
$brand_color_dark: #020e58;
$brand_color_neutral: #d7cde2;
$brand_color_somber: #38036c;
$brand_color_dim: #edf1ff;
$neutral_scepter: #f2f2f2;
$brand_color_disabled: #9b81b5;
$brand_color_hover: #7a579d;

//font colors
$text_light: #6b7092;
$text_dark: #101828;
$text_link_dark: #1d2939;
$text_dim: #38036c;
$text_feint: #8d8d8d;
$text_low_feint: #475467;
